@font-face {
  font-family: "Inter";
  src: url("./public/fonts/InterVariable.woff2") format("woff");
}

* {
  margin : 0;
  padding : 0;
}

:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 125%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.3;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --off-white: #fdfbfb;
  --off-black: rgba(0, 0, 0, 0.8)
}

@media (max-width: 40rem) {
  :root {
    font-size: 14px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .banner {
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
  }

  .banner > img {
    max-width: 160px;
    max-height: 160px;
    width: 160px;
    height: 160px;
  }
}

html, body {
  background-color: var(--off-white) ;
}

body > div {
  margin: auto;
  padding: 3rem 0 5rem 0;
  max-width: 40rem;
}

a {
  color: inherit;
  text-decoration: underline;
  transition-property: color, background-color, text-decoration;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

a:hover {
  background-color: var(--off-black);
  text-decoration: none;
  color: var(--off-white);
}

h3 {
  padding: 0.20rem 0.4rem;
  margin: 2rem 0 1rem 0;
  max-width: 35%;
  background-color: var(--off-black);
  color: var(--off-white);
}

h4 {
  font-weight : 500;
  opacity : 0.75;
}

p {
  margin : 1rem 0;
}

.banner {
  display: flex;
  gap: 2rem;
  font-size: 130%;
}

.banner > img {
  max-width: 300px;
  border-radius: 4px;
  box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.25);
}

.info {
  padding: 1rem 0.5rem;
  flex-grow: 1;
}

.info-contact {
  margin-top: 1rem;
}

.info-contact > a {
  display: block;
  padding: 2px 4px;
  transition-property: color, background-color, text-decoration;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.sec-entry{
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.sec-entry > span {
  width: 3rem;
  color: rgba(0, 0, 0, 0.65);
}

.sec-entry > div > span:last-child {
  width: 3rem;
  color: rgba(0, 0, 0, 0.65);
}

