/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px;
  /* font-size: 0.875rem; */
  font-feature-settings: normal;
  font-variation-settings: normal;
}

* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121113;
    --primary-text: #b5b2bc;
    --secondary-text: #797979;
    --boder: #3a3a3a;
    --accent: #0bd8b6;
    --danger: #ff0000;
    --white: #ffffff;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121113;
    --primary-text: #b5b2bc;
    --secondary-text: #797979;
    --accent: #0bd8b6;
    --danger: #ff0000;
    --white: #ffffff;
  }
} */

body {
  color: var(--primary-text);
  background: var(--background);
  font-size: 1rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
